body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding: 30px;
}

h1 {
    text-align: center;
}

.card {
    background: #1e293b;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 15px;
    background: #22c55e;
    border: none;
    color: white;
    cursor: pointer;
}